@font-face {
  font-family: Norwester;
  src: url("fonts/norwester.otf") format("opentype");
}

@font-face {
  font-family: Questa;
  src: url("fonts/questa.otf") format("opentype");
}

body {
  padding: 30px;
}

#logo {
  text-align: center;
  width: 45%;
  float: left;
  padding: 0 10% 30px 0;
}

#logo img {
  width: 100%;
}

h1 {
  font-family: Norwester;
  font-size: 7em;
  text-transform: uppercase;
}

p {
  margin-top: 0;
}

em {
  font-style: normal;
  background-color: black;
  color: white;
  display: inline-block;
  padding: 0px 7px 5px 7px;
}
#manifest {
  width: 45%;
  float: right;
  font-family: Questa;
  font-size: 2em;
}
#credits {
  clear: both;
  font-family: Questa;
}

a:link, a:hover, a:active {
    color: black;
}
a:visited {
    color: gray;
}

@media screen and (max-width: 980px) {
  body{
    padding: 10px;
  }

  #logo, #manifest {
    float: none;
    width: 100%;
    margin: 0;
    font-size: 1.5em;
  }
}
